body{
background-color: #7D0000;
}
h1{
  color:white;
  font-size: 2em;
  text-align: center;

}
header{
  height:10vh;
  background-color: grey;
  display:flex;
  align-items: center;
  justify-content: space-between;

}
.logo{
  width:50%;
  height: 100%;
}
ul {
list-style: none;
  display:flex;
  width:100%;
  flex-direction: row;
  align-self: center;
  justify-content: space-around;
}
a{
  font-size: 1.5em;
  list-style: none;
  text-decoration: none;
  color:white;
}
.list{
  font-size: 2em;
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
table{
  border: 3px black solid;
  border-collapse: collapse;
}
tr{
border: 3px black solid;
border-collapse: collapse;
}
td{
border: 3px black solid;
border-collapse: collapse;
}
form{
  font-size: 1.5em;
  display:flex;
  text-align: center;
  align-items: center;
}
.actor{
  font-size: 1.5em;
  display:flex;
  text-align: center;
  align-items: center;
}
